.invoiceFormBody {
  width: 500px;
  padding: 30px;
  margin: 30px;
  box-shadow: 0px 0px 5px 0px black;
}
.customerDetailsFormBody {
  display: flex;
  flex-direction: column;
}
.customerDetailsFormBody input {
  margin: 7px;
  border: none;
  border-bottom: 1px solid black;
}
.customerDetailsFormBody input:focus {
  outline: none;
  font-weight: bold;
  border-bottom: 2px solid black;
}
.addItemForm {
  margin-top: 40px;
  background-color: #35bdd0;
}
.addItemForm input {
  margin: 7px;
  border-radius: 2px;
  border: none;
}
.addItemForm button {
  background-color: greenyellow;
  border: none;
  width: 100px;
}
